fastapi
uvicorn
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
pydantic
pypdf
docx2txt
chromadb
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi
python-dotenv
langchain-classic
langchain-text-splitters
